<center><h1>Welcome To Steve's Homepage</h1>
  <%= link_to image_tag('DSC_1881-Edit copy.jpg'), 'https://uk.linkedin.com/in/stephen-tyers-19734a107' %></br>
   <bold><%= link_to 'About', about_path %></bold>
</center>